@import 'fonts';

.footer-bar {
    height: 23px;
    max-width: 1109px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

 .footer-list {
        max-width: 900px;
        width: 100%;
        display: flex;
        align-items: center;
        line-height: 2;
        gap: 20px;
        justify-content: flex-end;
        
    }

    li {
        list-style: none;
        font-family: $main-font;
        font-weight: 700;
        font-size: 18px;
    }

    .icons-list {
        display: flex;
        gap: 60px;
    }

    .icons {
        align-self: center;
    }
}
