.nav_bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
    &_list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin-left: 20px;

    }
