@import 'fonts';

.nav_bar {
    height: 23px;
    max-width: 1109px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

 .nav_list {
        width: 100%;
        display: flex;
        align-items: center;
        line-height: 2;
        gap: 20px;
        
    }

    li {
        list-style: none;
        font-family: $main-font;
        font-weight: 700;
        font-size: 18px;
    }
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  background-color: white;
  color: $blue-text;
  cursor: pointer;
  font-size: 150%;
  
}

a:active {
  color: darkcyan;
}

.logo-svg:hover {
    fill: $blue-text;
    cursor: pointer;
  }