@import 'fonts';
@import 'header';
@import 'footer';


h1 {
    font-family: $main-font;
    font-weight: 700;
    font-size: 40px;
    width: 495px;
}

p {
    font-family: $main-font;
    font-weight: $light-font-weight;
    opacity: 80%;
    font-size: 16px;

}

.heading {
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

    &_title {
        max-width: 635px;
        width: 100%;
    }

    &_table {
        max-width: 335px;
        width: 100%;
        height: 343px;
        align-self: center;
    }
}

.table-title {
    opacity: $opacity;
    

}

td {
    padding: 10px;
    font-family: $main-font;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #D8D8D8;
}

.pic-description {
    max-width: 1109px;
    width: 100%;
    padding-bottom: 45px;
    padding-top: 45px;
}

.gallery {
    display: flex;
    gap: 30px;
}
